<div id="user-time-bookings-list">
  <h2><%= l(:time_tracker_bookinglist_title) %></h2>

  <% unless @user_bookings.nil? %>
      <h3><%= l(:time_tracker_label_your_time_bookings) %></h3>
      <% if @user_bookings.empty? %>
          <p class="msg"><%= l(:no_time_bookings) %></p>
      <% else %>
          <div class="autoscroll">
            <table class="list">
              <thead>
              <tr>
                <th class="issue"><%= l(:label_issue) %></th>
                <th class="comments"><%= l(:time_tracker_label_comments) %></th>
                <th class="spent-time"><%= l(:time_tracker_label_time_spent) %></th>
                <th class="actions"><%= l(:time_tracker_label_action) %></th>
              </tr>
              </thead>

              <tbody>
              <% @user_bookings.each do |time_booking| %>
                  <% if time_booking.virtual %>
                      <tr id="booking_id<%= time_booking.id %>" class="<%= cycle('odd', 'even') %>">
                        <td class="issue" style="font-style:italic"><%= l(:time_tracker_label_none) %></td>
                        <td class="comments"><%= time_booking.virtual_comment.comments %></td>
                        <td class="spent-time"><%= time_booking.get_formatted_time %></td>
                        <td class="actions">
                          <%= link_to l(:time_tracker_label_continue), :controller => 'time_trackers', :action => 'start' %>
                          <%= link_to l(:time_tracker_label_delete), :controller => 'time_bookings', :action => 'delete', :id => time_booking.id %>
                        </td>
                      </tr>
                  <% else %>
                      <% time_entry = time_booking.time_entry %>
                      <% issue = time_entry.issue %>
                      <tr id="booking_id<%= time_booking.id %>" class="<%= cycle('odd', 'even') %>">
                        <td class="issue"><%= link_to_issue issue %></td>
                        <td class="comments"><%= time_entry.comments %></td>
                        <td class="spent-time"><%= time_booking.get_formatted_time %></td>
                        <td class="actions">
                          <%= link_to l(:time_tracker_label_continue), :controller => 'time_trackers', :action => 'start', :time_tracker => {:issue_id => issue.id, :comments => time_entry.comments} %>
                          <%= link_to l(:time_tracker_label_delete), :controller => 'time_bookings', :action => 'delete', :id => time_booking.id %>
                        </td>
                      </tr>
                  <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
          <p class="pagination"><%= pagination_links_full @booked_logs_pages, @user_bookings_count, :page_param => :page_booked, :per_page_links => false %></p>
      <% end %>
  <% end %>
</div>
