<% unless @time_log.nil? %>
    <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", @time_log.id, false, :id => nil) %></td>
    <td colspan=5>
      <%= form_for @time_log, :url => {:action => "update"},
                   :html => {:class => "time-log-update-form"} do |f| %>
          <%= f.hidden_field(:id) %>

          <div class="task_form_sub_fields">
            <div class="input_hint"><%= l(:field_tt_date) %></div>
            <div class="task_form_input">
              <%= f.text_field :tt_log_date, :size => "10", :placeholder => "date" %>
              <%= image_tag("calendar.png", {:id => "edit_time_log_#{@time_log.id.to_s}.time_log_tt_log_date_trigger", :class => "calendar-trigger"}) +
                          javascript_tag("Calendar.setup({inputField : $(edit_time_log_#{@time_log.id.to_s}).time_log_tt_log_date, ifFormat : '%Y-%m-%d', button : 'edit_time_log_#{@time_log.id.to_s}.time_log_tt_log_date_trigger' });") %>
            </div>
          </div>

          <div class="task_form_sub_fields">
            <div class="input_hint"><%= l(:time_tracker_label_start_time) %></div>
            <div class="task_form_input">
              <%= f.text_field :start_time, :value => @time_log.get_formatted_start_time, :size => "10", :placeholder => "start", :onchange => "updateBookingHours($('edit_time_log_#{@time_log.id}'))" %>
            </div>
          </div>

          <div class="task_form_sub_fields">
            <div class="input_hint"><%= l(:time_tracker_label_stop_time) %></div>
            <div class="task_form_input">
              <%= f.text_field :stop_time, :value => @time_log.get_formatted_stop_time, :size => "10", :placeholder => "stop", :onchange => "updateBookingHours($('edit_time_log_#{@time_log.id}'))" %>
            </div>
          </div>

          <div class="task_form_sub_fields">
            <div class="input_hint"><%= l(:time_tracker_label_comments) %></div>
            <div class="task_form_input"><%= f.text_field :comments %></div>
          </div>

          <div class="task_form_sub_fields">
            <div class="input_hint"><%= l(:field_tt_bookable) %></div>
            <div class="task_form_input">
              <%= f.text_field :spent_time, :value => @time_log.get_formatted_bookable_hours, :size => "12", :placeholder => "spent time", :onchange => "updateBookingStop($('edit_time_log_#{@time_log.id}'))" %>
            </div>
          </div>

          <%= f.submit "update" %>
      <% end %>
    </td>
    <td class="actions">
      <!-- TODO localize link-labels! -->
      <%= link_to_remote 'cancel', :update => 'entry-'+@time_log.id.to_s, :url => {:controller => 'time_logs', :action => 'get_list_entry', :time_log_id => @time_log.id} %>
    </td>
<% end %>
