<h2><%= l(:time_tracker_bookinglist_title) %></h2>

<% unless @user_bookings.nil? %>
    <div id="user-time-logs-list">
      <h3><%= l(:time_tracker_label_your_time_bookings) %></h3>
      <% if @user_bookings.empty? %>
          <p class="msg"><%= l(:no_time_bookings) %></p>
      <% else %>
          <div class="autoscroll">
            <table class="list">
              <thead>
              <tr>
                <th class="issue"><%= l(:label_issue) %></th>
                <th class="start-date"><%= l(:time_tracker_label_start_date) %></th>
                <th class="stop-date"><%= l(:time_tracker_label_stop_date) %></th>
                <th class="buttons"><%= l(:time_tracker_label_action) %></th>
              </tr>
              </thead>

              <tbody>
              <% @user_bookings.each do |time_booking| %>
                  <% time_entry = TimeEntry.where(:id => time_booking.time_entry_id).first %>
                  <% issue = Issue.where(:id => time_entry.issue_id).first unless time_entry.nil? %>
                  <tr id="user-log<%= time_booking.id %>" class="<%= cycle('odd', 'even') %>">
                    <% if issue.nil? %>
                        <td class="issue"></td>
                    <% else %>
                        <td class="issue"><%= link_to_issue issue, :project => true %></td>
                    <% end %>
                    <td class="start-date"><%= format_time(time_booking.started_on) %></td>
                    <td class="spent-time"><%= format_time(time_booking.stopped_at) %></td>
                    <td class="buttons">
                      <!-- TODO localize link-labels! -->
                      <%= link_to l(:time_tracker_label_delete), :controller => 'time_bookings', :action => 'delete', :id => time_booking.id %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
    </div>
<% end %>
