<h2><%= l(:time_tracker_bookinglist_title) %></h2>

<% unless @user_bookings.nil? %>
    <div id="user-time-logs-list">
      <h3><%= l(:time_tracker_label_your_time_bookings) %></h3>
      <% if @user_bookings.empty? %>
          <p class="msg"><%= l(:no_time_bookings) %></p>
      <% else %>
          <div class="autoscroll">
            <table class="list">
              <thead>
              <tr>
                <th class="issue"><%= l(:label_issue) %></th>
                <th class="comments"><%= l(:time_tracker_label_comments) %></th>
                <th class="spent-time"><%= l(:time_tracker_label_time_spent) %></th>
                <th class="actions"><%= l(:time_tracker_label_action) %></th>
              </tr>
              </thead>

              <tbody>
              <% @user_bookings.each do |time_booking| %>
                  <% time_entry = TimeEntry.where(:id => time_booking.time_entry_id).first %>
                  <% issue = Issue.where(:id => time_entry.issue_id).first %>
                  <tr id="booking_id<%= time_booking.id %>" class="<%= cycle('odd', 'even') %>">
                    <td class="issue"><%= link_to_issue issue %></td>
                    <td class="comments"><%= time_entry.comments %></td>
                    <td class="spent-time"><%= time_booking.hours_spent.round(2) %></td>
                    <td class="actions">
                      <%= link_to l(:time_tracker_label_continue), :controller => 'time_trackers', :action => 'start', :time_tracker => {:issue_id => issue.id, :comments => time_entry.comments} %>
                      <%= link_to l(:time_tracker_label_delete), :controller => 'time_bookings', :action => 'delete', :id => time_booking.id %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
    </div>
<% end %>
