<h2><%= l(:time_tracker_loglist_title) %></h2>

<% unless @bookable_logs.nil? %>
    <div id="user-time-logs-list">
      <h3><%= l(:time_tracker_label_your_time_logs) -%></h3>
      <% if @bookable_logs.empty? %>
          <p class="msg"><%= l(:no_time_logs) -%></p>
      <% else %>
          <div class="autoscroll">
            <table class="list">
              <thead>
              <tr>
                <th class="comments"><%= l(:time_tracker_label_comments) -%></th>
                <th class="spent-time"><%= l(:time_tracker_label_time_spent) -%></th>
                <th class="actions"><%= l(:time_tracker_label_action) -%></th>
              </tr>
              </thead>

              <tbody>
              <% @bookable_logs.each do |time_log| %>
                  <tr class="<%= cycle('odd', 'even') -%>">
                    <td id="user-log-comment<%= time_log.id -%>" class="comments"><%= time_log.comments -%></td>
                    <td class="spent-time"><%= time_log.bookable_hours.round(2).to_s -%></td>
                    <td class="buttons">
                      <!-- TODO localize link-labels! -->
                      <%= link_to_remote 'book', :update => 'user-log-comment'+time_log.id.to_s, :url => {:controller => 'time_logs', :action => 'show_booking', :time_log_id => time_log.id} %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <p class="pagination"><%= pagination_links_full @unbooked_logs_pages, @unbooked_logs_count, :page_param => :page_unbooked %></p>
      <% end %>
    </div>
<% end %>