<h2><%= l(:label_query_new) %></h2>

<%= form_tag(@project ? project_time_booking_queries_path(@project) : time_booking_queries_path, :onsubmit => 'selectAllOptions("selected_columns");') do %>
 <%= hidden_field_tag 'tt_request_referer', params[:tt_request_referer] || URI(request.referer).path %>
 <%= render :partial => 'queries/form', :locals => {:query => @query} %>
 <%= submit_tag l(:button_save) %>
<% end %>
