<% content_for :header_tags do %>
    <%= javascript_include_tag 'time_tracker2', :plugin => 'redmine_time_tracker' %>
    <%= javascript_include_tag 'validators', :plugin => 'redmine_time_tracker' %>
    <%= javascript_include_tag 'field_updater', :plugin => 'redmine_time_tracker' %>
<% end %>
<%= javascript_tag render :partial => 'tt_overview/time_tracker', :formats => [:js] %>
<% include_calendar_headers_tags %>
<%= patch_date_picker %>
<div class="contextual">
  <% if !query.new_record? && query.editable_by?(User.current) %>
      <%= link_to l(:button_edit), edit_time_booking_query_path(query), :class => 'icon icon-edit' %>
      <%= link_to l(:button_delete), time_booking_query_path(query), :confirm => l(:text_are_you_sure),
                  :method => :delete, :class => 'icon icon-del' %>
  <% end %>
</div>

<h2><%= query.new_record? ? l(:time_tracker_label_menu_tab_bookings_list) : h(query.name) %></h2>
<% html_title(query.new_record? ? l(:time_tracker_label_menu_tab_bookings_list) : query.name) %>

<%= form_tag({:controller => 'tt_bookings_list', :action => 'index'},
             :method => :get, :id => 'query_form') do %>
    <%= hidden_field_tag 'set_filter', '3' %>
    <div id="query_form_content" class="hide-when-print">
      <fieldset id="filters" class="collapsible <%= query.new_record? ? "" : "collapsed" %>">
        <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
        <div style="<%= query.new_record? ? "" : "display: none;" %>">
          <%= render :partial => 'queries/filters', :locals => {:query => query} %>
        </div>
      </fieldset>
      <fieldset class="collapsible collapsed">
        <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
        <div style="display: none;">
          <table>
            <tr>
              <td><%= l(:field_column_names) %></td>
              <td><%= render_query_columns_selection(query) %></td>
            </tr>
            <tr>
              <td><label for='group_by'><%= l(:field_group_by) %></label></td>
              <td><%= select_tag('group_by',
                                 options_for_select(
                                         [[]] + query.groupable_columns.collect { |c| [c.caption, c.name.to_s] },
                                         query.group_by)
                      ) %></td>
            </tr>
          </table>
        </div>
      </fieldset>
    </div>
    <p class="buttons hide-when-print">
      <!-- TODO check link targets! they're project-related here but shouldn't! -->
      <%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked' %>
      <%= link_to l(:button_clear), {:set_filter => 3, :project_id => @project}, :class => 'icon icon-reload' %>
      <% if query.new_record? && User.current.allowed_to?(:save_queries, @project, :global => true) %>
          <%= link_to_function l(:button_save),
                               "$('#query_form').attr('action', '#{ @project ? new_project_time_booking_query_path(@project) : new_time_booking_query_path }'); $('#query_form').submit();",
                               :class => 'icon icon-save' %>
      <% end %>
    </p>
<% end %>

<%= error_messages_for 'query' %>
<% if query.valid? %>
    <% if @bookings.empty? %>
        <p class="nodata"><%= l(:label_no_data) %></p>
    <% else %>
        <%= render :partial => 'tt_bookings_list/list', :locals => {:bookings => @bookings, :query => query} %>
        <p class="pagination"><%= pagination_links_full @booking_pages, @booking_count %></p>
    <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render_sidebar_queries %>
<% end %>

<%= context_menu tt_bookings_list_context_menu_path %>
