<div id="status-transition-list">
    <% edit_allowed = User.current.admin %>
    <% transitions = transitions.nil? ? {} : transitions %>
    <% has_zombie = false %>
    <div class="autoscroll">
        <table class="list">
            <thead>
                <tr>
                    <th class="zombie"></th>
                    <th class="from"><%= l(:time_tracker_settings_from_status) %></th>
                    <th class="to"><%= l(:time_tracker_settings_to_status) %></th>
                    <% if edit_allowed %>
                        <th class="buttons"></th>
                    <% end %>
                </tr>
            </thead>

            <tbody>
                <% if transitions.empty? %>
                    <tr class="odd">
                        <td class="msg" colspan=<%= edit_allowed ? "4" : "3" %>><%= l(:time_tracker_settings_no_transition) %></td>
                    </tr>
                <% else %>
                    <% transitions.each do |from, to| %>
                        <tr class="<%=cycle('odd', 'even') %>">
                            <% status_from = status_from_id(from) %>
                            <% status_to = status_from_id(to) %>
                            <% if status_from.nil? or status_to.nil? %>
                                <% has_zombie = true %>
                                <td class="zombie icon icon-warning"></td>
                            <% else %>
                                <td class="zombie"></td>
                            <% end %>
                            <td class="<%= status_from.nil? ? 'from zombie' : 'from' %>">
                                <%= status_from.nil? ? l(:time_tracker_settings_unknown_status) : status_from %>
                                <%= hidden_field_tag 'settings[status_transitions][' + from.to_s + ']', to.to_s %>
                            </td>
                            <td class="<%= status_to.nil? ? 'to zombie' : 'to' %>">
                                <%= status_to.nil? ? l(:time_tracker_settings_unknown_status) : status_to %>
                            </td>
                            <% if edit_allowed %>
                                <td class="buttons">
                                    <%= link_to_remote l(:time_tracker_label_delete),
                                        :url => { :controller => '/time_trackers', :action => 'delete_status_transition', :transitions => transitions, :from_id => from },
                                        :html => { :class => 'icon icon-del' },
                                        :complete => "$('status-transition-list').replace(request.responseText);"
                                    %>
                                </td>
                            <% end %>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>

    <% if has_zombie %>
        <p class="legend icon icon-warning"><%= l(:time_tracker_settings_zombie_transition) %></p>
    <% end %>

    <% if edit_allowed %>
        <div>
            <%= label_tag 'new-transition-from', l(:time_tracker_settings_new_transition_from) %>
            <%= select_tag 'new-transition-from', new_transition_from_options(transitions) %>
            <%= label_tag 'new-transition-to', l(:time_tracker_settings_new_transition_to) %>
            <%= select_tag 'new-transition-to', new_transition_to_options %>
            <%= link_to_remote l(:time_tracker_settings_new_transition_add),
                :url => { :controller => '/time_trackers', :action => 'add_status_transition', :transitions => transitions },
                :with => "'from_id=' + $('new-transition-from').value + '&to_id=' + $('new-transition-to').value",
                :html => { :class => 'icon icon-add' },
                :complete => "$('status-transition-list').replace(request.responseText);"
            %>
        </div>
    <% end %>
</div>
