<%= javascript_include_tag 'highcharts/prototype-adapter.js', :plugin => 'redmine_time_tracker' %>
<%= javascript_include_tag 'highcharts/highcharts.js', :plugin => 'redmine_time_tracker' %>


<div id="tt_reporting_chart" style="width: 560px; height: 300px;"></div>


<script type="text/javascript" charset="utf-8">
    var tt_reporting_chart; // globally available
    document.observe("dom:loaded", function () {
        tt_reporting_chart = new Highcharts.Chart({
            chart:{
                renderTo:'tt_reporting_chart',
                type:'column'
            },
            title:{ text:'Booked Hours by Day' },
            xAxis:{ type:'datetime' },
            yAxis:{
                title:{ text:'Booked Hours' }
            },
            series:[
                {
                    name: "<%= User.current.name %>",
                    pointInterval: <%= 1.day * 1000 %>,
                    pointStart: <%= 3.weeks.ago.at_midnight.to_i * 1000 %>,
                    data: <%= (3.weeks.ago.to_date..Date.today).map { |date| TimeBooking.total_booked_on(date)} %>
                }
            ]
        });
    });
</script>

